/* ================================= 
  Base Element Styles
==================================== */

body {
  font-family: 'Hepta Slab', serif;
  line-height: 1.5;
  color: #778899;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

h1 {
  font-size: 1.6em;
  margin: 0;
  padding-bottom: .6em;
}

h2 {
  font-size: 1.2em;
  margin: 0;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.8em;
  color: #778899;
  max-width: 85%;
  margin: auto;
}

img {
  max-width: 85%;
}

a {
  color: #778899;
  font-size: .9em;
  text-decoration: none;
}

a:hover {
	color: white;
}

/* ================================= 
  Navigation Styles
==================================== */

.main-nav {
  list-style-type: none;
  padding: 0;
}

.main-nav li {
  border-radius: .5em;
  display: block; 
  background: #FFF0F5;
  border: solid 3px #E6E6FA;
  max-width: 60%;
  margin: auto;
  padding-top: .5em;
  padding-bottom: .5em;
}

.main-footer nav {
  float: right;
  margin-right: .5em;
}

/* ================================= 
  Header Styles
==================================== */


.profile-pic {
  margin-top: 2em;
  padding-bottom: 2em;
}

.main-header {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  background: #E6E6FA;
}

/* ================================= 
  Main Styles
==================================== */

.main {
  padding-top: 2.2em;
  background: #FFF0F5;
  text-align: center;
}

.img {
  margin: auto;
  margin-top: 2.2em;
}

/****** Portfolio Section *********/

.portfolio {
  padding-bottom: 2.5em;
}

/****** Skills Section *********/

.skills {
  padding-top: 3em;
  padding-bottom: 2em;
  background: #E6E6FA;
}

.skills h2 {
  padding-bottom: 1.3em;
}

.skills ul {
  padding: 0 .8em;
}

.skills li {
  border-radius: .4em;
  display: inline-block;
  background: #FFF0F5;
  padding: .4em .4em;
  margin: .2em;
}

/****** Contact Section *********/

.contact {
  padding-top: 2.2em;
  padding-bottom: 3em;
  background: #FFF0F5;
}

.contact h2 {
  padding-bottom: 1.5em;
}

.contact span {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1.2em;
  text-align: center;
}

.contact p {
  padding-top: .8em;
  font-size: 1em;
}

/* ================================= 
  Footer Styles
==================================== */

.main-footer {
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: .8em;
  padding-left: 1.5em;
  padding-right: 1em;
  border-top: solid 1px white;
  background: #FFF0F5;
}

.footer-nav {
  visibility: hidden;
}

.footer-nav ul {
  margin: 0;
}


.footer-nav li {
  list-style-type: none;
  display: inline;
}

/* ================================= 
  Media Queries
==================================== */

/* ---- Min-width 768px ---- */

@media (min-width: 768px){

  .main-nav p {
    margin-left: 3.5em;
  }

  .main-nav {
    padding-bottom: 0;
  }

  .main-nav li {
    display: inline-block;
    padding: .5em .5em;
    margin: 0.4em;
    background: none;
  }

  .main-header {
    padding-bottom: 0em;
  }

  .profile-pic {
    float: right;
    margin-right: 3em;
    padding-left: 1.3em;
    max-width: 35%;
    margin-top: 1.5em;
    padding-bottom: 3em;
  }
  
  .main-header p {
    padding-top: 2.4em;
    text-align: left;
  }

  .portfolio {
    padding-bottom: 2em;
  }
  
  .col-1 {
    float: right;
    max-width: 46%;
    padding-right: 1.5em;
  }

  .col-2 {
    float: left;
    max-width: 46%;
    padding-left: 1.5em;
  }

  .img {
    max-width: 95%;
  }

  .skills {
    padding-top: 2em;
  }

  .skills ul {
    padding-bottom: 1.5em;
  }
  
  .contact {
    margin: auto;
    padding-bottom: 2em;
  }

  .contact span {
    padding-left: 1em;
    padding-right: 1em;
  }

  .main-footer {
    padding-left: 2em;
    padding-bottom: 2em;
    padding-top: 1.5em;
  }

  .footer-nav a {
    visibility: visible;
  }

  .footer-nav li {
    display: inline-block;
    margin-right: .6em;
  }

  .footer-nav ul {
  margin-top: -1.6em;
  }

  .back-to-top {
    display: none;
    clear: both;
  }
}

  .clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

/* ---- Min-width 1024px ---- */

@media (min-width: 1024px) {

  h1 {
    text-align: left;
    padding-bottom: 0;
    padding-top: 1em;
    padding-left: 2em;
  }

  .main {
  background: #E6E6FA;
  padding-top: 0;
  }

  .main-header{
    padding-bottom: 1em;
  }

  .main-nav {
    text-align: left;
    float: right;
    margin-top: -2.5em;
    padding-right: 2.9em;
  }

  .main-nav li {
    margin: 0;
    background: none;
    margin-bottom: 0;
  }

  .profile-pic {
    margin-top: 2em;
    margin-left: 2em;
    margin-right: -24em;
    float: right;
  }

  .main-header p {
    padding-left: 4em;
    padding-top: 3em;
    margin-right: 2em;
    padding-bottom: 0;
    margin-left: 0;
  }

  .portfolio {
    padding-bottom: 2em;
    max-width: 95%;
    text-align: center;
    background: #FFF0F5;
    margin: auto;
    padding-top: 2em;
}

  .secondary {
    float: left;
    max-width: 32%;
    text-align: center;
    padding-right: 0;
    padding-left: .5em;
  }
  
  .primary {
    float: left;
    max-width: 32%;
    padding-top: 2em;
    padding-bottom: 3em;
    padding-right: 0;
    padding-left: .5em;
    text-align: center;
  }

  .img {
    margin: 0;
    max-width: 95%;
    padding-left: .2em;
  }

  .clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}


  /* ---- Float clearfix ---- */
  
    .clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}